obsidian-command/tools/node_modules/
obsidian-command/tools/venv/
obsidian-command/deliverables/video/footage/
obsidian-command/tools/ffmpeg
obsidian-command/tools/nsslibs/*.so
obsidian-command/web/.next/
obsidian-command/web/node_modules/
obsidian-command/deliverables/OBSIDIAN-ALL-DELIVERABLES.zip
